<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aozora Data</title>
  <link href="css/tailwind.css" rel="stylesheet">

</head>
<body class="bg-blue-900">


    <div class="bg-black w-full min-h-screen py-14 lg:px-44 px-10">

      <h1 class="text-8xl text-white text-center mb-24">mimizu</h1>
      <p class="text-4xl font-sans text-white text-left mb-12">
        Hello my name is Michael, this is my website mimizu. This website was made in order to easily access kanji and character count info from the public domain library Aozora Bunko.
      </p>
      <p class="text-4xl font-sans text-white text-left mb-12">
        You can access this data by scrolling down to the table. This table contains 4 columns: Title, Author, Character Count, and Unique Kanji. Each row acts as a link to the actual book in Aozora Bunko. It defaults to just sorting them by their Aozora Bunko order, but you can click on the column titles in order to sort the table by those factors. One click will sort by descending order, then a subsequent click will sort by ascending order. There is also a search feature, which will allow you to search based on author and title.  Currently I only serve top 100 since I want to limit data transferred, I will likely change that after some testing.
      </p>
      <p class="text-4xl font-sans text-left text-white">
        Currently this website is in an early phase of development, and I have a lot planned to add to it. If you have any suggestions of features or design(admittedly not my forte) or you just want to reach out to me, please contact me at 
      </p>
      <a href="mailto:michaelSoftDev@gmail.com" class="text-3xl font-mono text-left text-white hover:text-gray-300">michaelSoftDev@gmail.com</a>

    </div> 




  <div class=" rounded flex justify-center my-14">

    <div class="bg-gray-400 lg:w-3/5 w-full">
      
      <input type="text" id="search" class="rounded w-full lg:w-11/12 lg:ml-10 h-11 mt-4" placeholder="Search..">

      <div class="flex mt-4">
        <div class="hover:bg-gray-200 w-4/12 border-2 border-gray-800" onClick="byTitle()"><p class="text-center">Title</p></div>
        <div class="hover:bg-gray-200 w-3/12 border-t-2 border-b-2 border-gray-800" onClick="byAuthor()"><p class="text-center">Author</p></div>
        <div class="hover:bg-gray-200 w-2/12 border-t-2 border-b-2 border-l-2 border-gray-800" onClick="byTotal()"><p class="text-center">Character Count</p></div>
        <div class="hover:bg-gray-200 w-3/12 border-2 border-gray-800" onClick="byUnique()"><p class="text-center">Unique Kanji</p></div>
      </div>
      

      <div id="books" class="p-2">
        <div class="flex p-4 border-2 border-blue-800">
        </div>
      </div>
    </div>
  </div>

  


  <script src="javascript/main.js"></script>
</body>
</html>